md5/               # Ignore the virtual environment
__pycache__/       # Ignore Python cache files
.env               # Ignore environment variables
instance/          # Ignore Flask instance files
config.py
uploads/gi
